# Map, Filter, Reduce, Lambda & Recursion

## Tasks Today:

1) <b>Lambda Functions</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Saving to a Variable <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Multiple Inputs <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Passing a Lambda into a Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Returning a Lambda from a Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) In-Class Exercise #1 <br>
2) <b>Map</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Using Lambda's with Map <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #2 <br>
3) <b>Filter</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Using Lambda's with Filter <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #3 <br>
4) <b>Reduce</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Using Lambda's with Reduce <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #4 <br>
5) <b>Recursion</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Implementing a Base <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Writing a Factorial Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #5 <br>
6) <b>Generators & Iterators</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Yield Keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Inifinite Generator <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #6 <br>
7) <b>Exercises</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Exercise #1 - Filtering Empty Strings <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Exercise #2 - Sorting with Last Name <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Exercise #3 - Conversion to Farhenheit <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Exercise #4 - Fibonacci Sequence <br>

## Lambda Functions <br>
<p>Lambda functions... or "Anonymous Functions" are referring to inline functions with no name. The keyword lambda denotes the no name function, and executes within a single line. Without saving it to a variable; however, it is not able to be used, unless passed in either as a paramater or within list comprehension.<br>Written as "(keyword lambda) (one or more inputs) (colon) (function to be executed)"</p>

#### Syntax

In [1]:
def addTwo(num):
    return num + 2

print(addTwo(4))

#Lambda syntax/anatomy
# lambda parameter: expression whos value gets

print(lambda num: num + 2)

6
<function <lambda> at 0x000001912D42B6A0>

#### Saving to a Variable

In [2]:
addTwo = lambda num: num + 2

print(addTwo)
print(addTwo(7))

<function <lambda> at 0x000001912D42B380>
9

#### Multiple Inputs

In [3]:
volume = lambda length,width,height: length*width*height

print(volume)
print(volume(1,2,3))

<function <lambda> at 0x000001912D42BD80>
6

#### Passing a Lambda into a Function

In [4]:
def multiply(function, num):
    return function(num)

print(multiply(lambda num: num * num, 3))

9

#### Returning a Lambda from a Function

In [5]:
def multiply(num):
    return num * 4

def set_exponents(num):
    return lambda lnum: lnum**num

squares = set_exponents(2)

print(squares(4))

cubed = set_exponents(3)

print(cubed(5))

16
125

#### If Statements within Lambdas

In [6]:
#Lambda x: True if (condition) else False

is_even = lambda num: f'{num} is an even number' if num % 2 == 0 else f'{num} is not even'

print(is_even(6))

6 is an even number

#### In-Class Exercise #1 <br>
<p>Write an anonymous function that cubes the arguments passed in and assign the anonymous function to a variable 'f'.</p>

In [7]:
f = lambda x : x*x*x

f(3)

27

## Map <br>
<p>The map function allows you to iterate over an entire list while running a function on each item of the list. This is why the map function works well with lambda's, because it simplifies things and you write less lines of code.<br>The syntax for a map function is "map(function to be used, list to be used)"<br>However, you must be careful, as the map function returns a map object, not a list. To turn it into a list we use the list() type conversion.</p>

#### Syntax

In [8]:
#map(function, iterable(strings,lists,sets,dicts))

#user function

def doubles_nums(alist):
    doubles = []
    for num in alist:
        doubles.append(num*2)
    return doubles

mylist = [1,2,3,4,5,6,7,8]

print(doubles_nums(mylist))

#simple 1 step function
def double_a_num(num):
    return num*2

print(list(map(double_a_num, mylist)))

[2, 4, 6, 8, 10, 12, 14, 16]
[2, 4, 6, 8, 10, 12, 14, 16]

#### Using Lambda's with Map

In [9]:

print(list(map(lambda num: num*2, mylist)))

[2, 4, 6, 8, 10, 12, 14, 16]

#### In-Class Exercise #2 <br>
<p>Use the map function to double each number and minus it by one in the list by using a lambda function</p>

In [10]:

print(list(map(lambda num: num*2 -1, mylist)))

[1, 3, 5, 7, 9, 11, 13, 15]

## Filter() <br>
<p>Filter's are similar to the map function, where you're able to pass a function argument and a list argument and filter out something from the list based on the conditions passed. Similar to the map function, it returns a filter object, so you need to type convert it to a list()</p>

#### Syntax

In [11]:
#user defined function

def night_club(people):
    not_bounced = []
    for person in people:
        if person >= 21:
            not_bounced.append(person)
    return not_bounced

alist = [1,21,25,127,18,17]

print(night_club(alist))

def bouncer(person):
    return person >= 21


print(list(filter(bouncer, alist)))

[21, 25, 127]
[21, 25, 127]

#### Using Lambda's with Filter()

In [12]:
print(list(filter(lambda person: True  if person >= 21 else False, alist)))

[21, 25, 127]

#### In-Class Exercise #3 <br>
<p>Filter out all the numbers that are below the mean of the list.<br><b>Hint: Import the 'statistics' module</b></p>

In [13]:
alist = [1,2,3,4,5,6,7,8]
mean = sum(alist)/len(alist)

print(mean)
list(filter(lambda x :True if x > mean else False , alist))

4.5

[5, 6, 7, 8]

## Reduce() <br>
<p>Be very careful when using this function, as of Python 3 it's been moved to the 'functools' library and no longer is a built-in function.<br>The creator of Python himself, says to just use a for loop instead.</p>

#### Syntax

In [14]:
from functools import reduce

new_list = [1,2,3,4,5,6,7,8]

def add_nums(nums):
    total = 0
    for num in nums:
        total += num
    return(total)

print(add_nums(new_list))

#reduce(functions(x,y), iterable)

def reduce_nums(num1, num2):
    print(num1, num2)
    return num1+ num2

print(reduce(reduce_nums, new_list))

36
1 2
3 3
6 4
10 5
15 6
21 7
28 8
36

#### Using Lambda's with Reduce()

In [15]:
reduce(lambda num1, num2: num1 * num2, new_list)

40320

#### In-Class Exercise #4 <br>
<p>Use the reduce function to multiply the numbers in the list below together with a lambda function.</p>

In [16]:
from functools import reduce

new_list = [1,2,3,4]
reduce(lambda num1, num2: num1 * num2, new_list)

24

## Recursion <br>
<p>Recursion means that a function is calling itself, so it contanstly executes until a base case is reached. It will then push the returning values back up the chain until the function is complete. A prime example of recursion is computing factorials... such that 5! (factorial) is 5*4*3*2*1 which equals 120.</p>

#### Implementing a Base Case

In [17]:
def add_nums(num):
    #hypo num = 5
    # 5 + 4 +3 +2 +1

    #base case
    if num <= 1:
        print(f'add_nums({num}) = {num}')
        return num
    else:
        #recursive
        print(f'add_nums({num}) = {num} + add_nums({num-1})')
        return num + add_nums(num - 1)

print(add_nums(5))

add_nums(5) = 5 + add_nums(4)
add_nums(4) = 4 + add_nums(3)
add_nums(3) = 3 + add_nums(2)
add_nums(2) = 2 + add_nums(1)
add_nums(1) = 1
15

#### Writing a Factorial Function

In [18]:
def fac_nums(num):
    #hypo num = 5
    # 5 - 4 -3 -2 -1

    #base case
    if num <= 1:
        print(f'add_nums({num}) = {num}')
        return num
    else:
        #recursive
        print(f'add_nums({num}) = {num} * add_nums({num-1})')
        return num * fac_nums(num - 1)

print(fac_nums(5))

add_nums(5) = 5 * add_nums(4)
add_nums(4) = 4 * add_nums(3)
add_nums(3) = 3 * add_nums(2)
add_nums(2) = 2 * add_nums(1)
add_nums(1) = 1
120

#### In-Class Exercise #5 <br>
<p>Write a recursive function that subtracts all numbers to the argument given.</p>

In [19]:
 # 5 - 4 -3 -2 -1

## Generators <br>
<p>Generators are a type of iterable, like lists or tuples. They do not allow indexing, but they can still be iterated through with for loops. They are created using functions and the yield statement.</p>

#### Yield Keyword <br>
<p>The yield keyword denotes a generator, it doesn't return so it won't leave the function and reset all variables in the function scope, instead it yields the number back to the caller.</p>

In [20]:
def my_genny():
    num = 0
    while True:
        yield num
        num += 1

print(my_genny)

generate = my_genny()
print(generate)

print(next(generate))
print(next(generate))
print(next(generate))

my_list = []

while len(my_list) < 10:
    my_list.append(next(generate))

print(my_list)
print(next(generate))

<function my_genny at 0x000001912D48B560>
<generator object my_genny at 0x000001912D4816C0>
0
1
2
[3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
13

#### Infinite Generator

In [21]:
# bad, never create infinite loops

#### In-Class Exercise #6 <br>
<p>Create a generator that takes a number argument and yields that number squared, then prints each number squared until zero is reached.</p>

In [22]:
def my_generator(value):
  for i in (list(range(value + 1)))[::-1]:
    yield i * i

for single in my_generator(10):
  print(single)

100
81
64
49
36
25
16
9
4
1
0

# Exercises

### Exercise #1 <br>
<p>Filter out all of the empty strings from the list below</p>

`Output: ['Argentina', 'San Diego', 'Boston', 'New York']`

In [23]:
places = [" ","Argentina", " ", "San Diego","","  ","","Boston","New York"]
list(filter(lambda x : True if x.strip() != "" else False, places))

['Argentina', 'San Diego', 'Boston', 'New York']

### Exercise #2 <br>
<p>Write an anonymous function that sorts this list by the last name...<br><b>Hint: Use the ".sort()" method and access the key"</b></p>

`Output: ['Victor aNisimov', 'Gary A.J. Bernstein', 'Joel Carter', 'Andrew P. Garfield', 'David hassELHOFF']`

In [24]:
author = ["Joel Carter", "Victor aNisimov", "Andrew P. Garfield","David hassELHOFF","Gary A.J. Bernstein"]


author.sort(key =lambda x : x.split(" ")[-1].lower())
author

['Victor aNisimov',
 'Gary A.J. Bernstein',
 'Joel Carter',
 'Andrew P. Garfield',
 'David hassELHOFF']

### Exercise #3 <br>
<p>Convert the list below from Celsius to Farhenheit, using the map function with a lambda...</p>

`Output: [('Nashua', 89.6), ('Boston', 53.6), ('Los Angelos', 111.2), ('Miami', 84.2)]
`

In [25]:
# F = (9/5)*C + 32
places = [('Nashua',32),("Boston",12),("Los Angelos",44),("Miami",29)]
list(map(lambda x : (x[0], (9/5)*x[1] + 32 ), places))

[('Nashua', 89.6), ('Boston', 53.6), ('Los Angelos', 111.2), ('Miami', 84.2)]

### Exercise #4 <br>
<p>Write a recursion function to perform the fibonacci sequence up to the number passed in.</p>

`Output for fib(5) =>
Iteration 0: 1
Iteration 1: 1
Iteration 2: 2
Iteration 3: 3
Iteration 4: 5
Iteration 5: 8`

In [26]:
#Extra credit

def fib(n, a=0,b=1):
  print(b, end=" ")
  if n > 0:
    fib(n -1 , a = b, b = a + b)
fib(5)

1 1 2 3 5 8